@page "/"
@using System.Xml
@using BlockUI.Blazor.Services
@inject IBlockUserInterfaceService BlockUI

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<button class="btn btn-primary" type="button" @onclick="Trigger">Block/Unblock</button>
<br />
<BlockUserInterface>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@@twitter</td>
        </tr>
        </tbody>
    </table>
</BlockUserInterface>

@code {

    private bool _blocked = false; 

    void Trigger()
    {
        _blocked = !_blocked;
        if (_blocked)
            BlockUI.Block();
        else
            BlockUI.Unblock();
    }
}
